aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alabaster==0.7.16
amqp==5.3.1
annotated-types==0.7.0
anyio==4.10.0
appdirs==1.4.4
argcomplete==3.6.2
asgiref==3.9.1
attr==0.3.1
attrs==25.3.0
azure-core==1.35.0
azure-storage-blob==12.26.0
babel==2.17.0
billiard==4.2.1
black==25.1.0
bleach==5.0.1
boto==2.49.0
boto3==1.40.11
botocore==1.40.11
cachetools==5.5.2
celery==5.3.4
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
cryptography==45.0.6
datamodel-code-generator==0.26.1
defusedxml==0.8.0rc2
diff-match-patch==20241021
distro==1.9.0
Django==5.1.11
django-annoying==0.10.6
django-celery-beat==2.8.1
django-cors-headers==4.7.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==24.3
django-import-export==4.3.9
django-migration-linter==5.2.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.10.3
django-storages==1.12.3
django-timezone-field==7.1
django-user-agents==0.4.0
django_celery_results==2.6.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
dnspython==2.7.0
docopt==0.6.2
docutils==0.17.1
dotenv==0.9.9
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
drf-yasg==1.21.10
email_validator==2.2.0
expiringdict==1.2.2
Faker==37.5.3
filelock==3.19.1
flower==2.0.1
frozenlist==1.7.0
gcloud==0.18.3
genson==1.3.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-appengine-logging==1.6.2
google-cloud-audit-log==0.3.2
google-cloud-core==2.4.3
google-cloud-logging==3.12.1
google-cloud-storage==2.19.0
google-cloud-translate==3.21.1
google-cloud-vision==3.10.2
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.74.0
grpcio-status==1.74.0
gunicorn
h11==0.16.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
humanize==4.12.3
humansignal-drf-yasg==1.21.10.post1
idna==3.10
ijson==3.2.3
imagesize==1.4.1
import-export==0.3.1
importlib_metadata==8.7.0
indic-nlp-library==0.92
indicnlp==0.0.1
inflect==5.6.2
inflection==0.5.1
isodate==0.7.2
isort==5.13.2
Jinja2==3.1.6
jiter==0.10.0
jiwer==4.0.0
jmespath==1.0.1
joblib==1.5.1
jsf==0.11.2
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jwcrypto==1.5.6
kombu==5.3.7
label-studio==1.20.0
label-studio-converter==0.0.59
label-studio-sdk==1.0.18
label-studio-tools==0.0.4
launchdarkly-server-sdk==8.2.1
lockfile==0.12.2
lxml==6.0.0
lxml_html_clean==0.4.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
Morfessor==2.0.6
mosestokenizer==1.2.1
multidict==6.6.4
mypy_extensions==1.1.0
nltk==3.9.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.3.1
openai==1.102.0
opencv-python==4.11.0.86
openfile==0.0.7
opentelemetry-api==1.36.0
ordered-set==4.0.2
packaging==25.0
pandas==2.3.1
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
portalocker==3.2.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.32.0
psycopg2-binary==2.9.10
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyboxen==1.3.0
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
PyJWT==2.10.1
pyparsing==3.2.3
Pyrebase4==4.8.0
pyRFC3339==2.0.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==2.0.4
python-jwt==4.1.0
python3-openid==3.2.0
pytz==2022.7.1
PyYAML==6.0.2
RapidFuzz==3.13.0
redis==5.2.1
referencing==0.36.2
regex==2025.7.34
requests==2.32.4
requests-file==2.1.0
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==0.10.1
rich==14.1.0
rpds-py==0.27.0
rq==1.16.2
rsa==4.9.1
rstr==3.2.2
rules==3.4
s3transfer==0.13.1
sacrebleu==2.3.1
schedule==1.2.0
semver==2.13.0
sentry-sdk==2.35.0
setuptools==80.9.0
simplejson==3.19.1
six==1.16.0
smart_open==7.3.0.post1
sniffio==1.3.1
snowballstemmer==2.2.0
social-auth-app-django==5.5.1
social-auth-core==4.4.2
soupsieve==2.4.1
Sphinx==4.3.2
sphinx-argparse==0.4.0
sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
tablib==3.8.0
tabulate==0.9.0
tldextract==5.3.0
toml==0.10.2
toolwrapper==2.1.0
tornado==6.5.2
tqdm==4.66.1
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
ua-parser==0.18.0
uctools==1.3.0
ujson==5.10.0
uritemplate==4.1.1
urllib3==1.26.20
user-agents==2.2.0
vine==5.0.0
wcwidth==0.2.6
webencodings==0.5.1
wheel==0.40.0
whitenoise==6.5.0
wrapt==1.16.0
xlrd==2.0.1
xlwt==1.3.0
xmljson==0.2.1
yarl==1.20.1
zipp==3.23.0
